<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Data Normalizer</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>

<body class="ctr">
    <h1>📊 Multivariate Data Normalizer</h1>

    <!-- Upload Form -->
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Upload CSV File:</label>
        <input type="file" name="file" required>
        <br><br><button type="submit">Normalize</button>
    </form>
</body>
</html>
